<head>
    <link rel="preconnect" href="https://resource.socasf.net"/>
    <link rel="preconnect" href="https://static.cloudflareinsights.com"/>
    <meta charset="utf8"/>
    <meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no"/>
    <title><%=title%> - CodeInk API</title>
    <link rel="icon" href="https://resource.socasf.net/favicon.ico?v=4c7659a3465f" type="image/x-icon"/>
    <link rel="stylesheet" href="https://resource.socasf.net/bootstrap.css?v=4c7659a3465f" type="text/css"/>
    <link rel="stylesheet" href="https://resource.socasf.net/icons.css?v=4c7659a3465f" type="text/css"/>
</head>