<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a class="d-inline-flex link-body-emphasis text-decoration-none" href="/">
                <img class="bi" src="https://resource.socasf.net/logo.png?v=4c7659a3465f" width="48"/>
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"></ul>
        <div class="col-md-3 text-end">
            <button class="btn btn-outline-primary me-2" id="ckapi_servicebutton_theme">
                <i class="bi bi-sun" id="ckapi_servicetheme_icon"></i>
            </button>
        </div>
    </header>
</div>